{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Healing Items
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PUBG</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('weapon') }}">Weapon</a></li>
            <li class="active"><a href="{{ url_for('healing') }}">Healing</a></li>
            <li><a href="{{ url_for('boosting') }}">Boosting</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="starter-template">
        <!-- title -->
        <h1>Healing Items</h1>
        <p class="lead">Choose an item to explore its location distribution on a specific map</p>
        <!-- healing table -->
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center"><img style="max-width:200px"src="https://d1nglqw9e0mrau.cloudfront.net/assets/images/game/icons/heal_bandage-7c6aec40.png"></th>
              <th class="text-center"><img style="max-width:200px"src="https://d1nglqw9e0mrau.cloudfront.net/assets/images/game/icons/heal_firstaid-57fc8495.png"></th>
              <th class="text-center"><img style="max-width:200px"src="https://d1nglqw9e0mrau.cloudfront.net/assets/images/game/icons/heal_medkit-ee6809c8.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"><h3>Bandage</h3></td>
              <td class="text-center"><h3>First Aid Kit</h3></td>
              <td class="text-center"><h3>Med Kit</h3></td>
            </tr>
          </tbody>
        </table>
        <!-- dropdown list and explore button -->
        <form action="/healing" method="POST">
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.item) }}
          {{ wtf.form_field(form.map_name) }}
          <button class="btn btn-lg btn-primary btn-block" type="submit">Explore</button>
        </form>

      </div>
    </div>
{% endblock %}