{% extends "bootstrap/base.html" %}
{% block title %}
Demo PUBG App
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PUBG</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="{{ url_for('weapon') }}">Weapon</a></li>
            <li><a href="{{ url_for('healing') }}">Healing</a></li>
            <li><a href="{{ url_for('boosting') }}">Boosting</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>

    
    <div class="container">
      <div class="starter-template">
        <img src="https://d1nglqw9e0mrau.cloudfront.net/assets/images/pubg_logo@2x-61e1ec01.png" alt="PUBG">
        <h1>FANTASTIC ITEMS</h1>
        <h1>and WHERE TO FIND THEM</h1>
      </div>

    </div><!-- /.container -->
{% endblock %}