{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Short Gun
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PUBG</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('weapon') }}">Weapon</a></li>
        <li><a href="{{ url_for('weapon') }}">Rifle</a></li>
        <li class="active"><a href="#">Short Gun</a></li>
        <li><a href="{{ url_for('machine_gun') }}">Machine Gun</a></li>
        <li><a href="{{ url_for('pistol') }}">Pistol</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
    <div class="starter-template">
      <!-- title -->
      <h1>Short Guns </h1>
      <p class="lead">Choose a weapon to explore its attributes</p>
      <!-- table -->
      <table class="table table-bordered">
          <thead>
              <tr>
              <th class="text-center"><img src="https://d1nglqw9e0mrau.cloudfront.net/assets/images/game/icons/weapon_sks-558bd4e3.png"></th>
              <th class="text-center"><img src="https://d1nglqw9e0mrau.cloudfront.net/assets/images/game/icons/weapon_saiga12-52704742.png"></th>
              <th class="text-center"><img src="https://d1nglqw9e0mrau.cloudfront.net/assets/images/game/icons/weapon_winchester-447956bd.png"></th>
              <th class="text-center"><img src="https://d1nglqw9e0mrau.cloudfront.net/assets/images/game/icons/weapon_berreta686-c57d22bb.png"></th>
              </tr>
          </thead>
          <tbody>
              <tr>
              <td class="text-center"><h3>SKS</h3></td>
              <td class="text-center"><h3>S12K</h3></td>
              <td class="text-center"><h3>S1897</h3></td>
              <td class="text-center"><h3>S686</h3></td>
              </tr>
          </tbody>
      </table>

      <!-- dropdown list and explore button -->
      <form action="/weapon/short_gun" method="POST">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.weapon) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Explore</button>
      </form>

    </div>
  </div>

{% endblock %}